html {
    margin: 0;
    overflow-x: hidden;
    font-size: 3vw;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}


body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to right top, #ae556a, #cda199);

    @media (min-width: 768px) {
        height: unset;
    }
}

.scene {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    perspective: 95vh;

    // margin-block-start: 2rem;
    @media (min-width: 768px) {
        height: 45vw;
    }

    .card {
        position: relative;
        width: 100%;
        min-height: 65vh;
        transition: 0.3s ease-in-out;
        transform-style: preserve-3d;

        &.hover {
            transform: rotateY(0.5turn);
        }

        .card__face {
            position: absolute;
            top: 0;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 90vw;
            height: 100%;
            backface-visibility: hidden;
            transition: 1s ease-in-out;
            // -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
            // z-index: -1;

            img {
                width: 90vw;
                // height: 300px;
                object-fit: cover;
                border: 1px solid;

                @media (min-width: 768px) {
                    width: 30vw;
                }
            }

            &--back {
                transform: rotateY(0.5turn) translateX(50%);
            }
        }
    }
}

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 8rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 8rem;
    position: relative;
    margin: 0 auto;
    margin-block-start: 5rem;
    margin-block-end: 2rem;
    z-index: 1;
    border: 1px solid;

    &:before {
        content: "פנים";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

    &-checkbox {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        margin: 0;

        &:checked+.switch-button-label:before {
            transform: translateX(8rem);
            transition: transform 200ms linear;
        }

        &+.switch-button-label {
            position: relative;
            padding: 0.7rem 0;
            display: block;
            user-select: none;
            pointer-events: none;

            &:before {
                content: "";
                // background: #fdded7;
                // background: #cea29a;
                background: #ECEAEB;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 30px;
                transform: translateX(0);
                transition: transform 200ms;
            }

            .switch-button-label-span {
                position: relative;
            }
        }
    }
}

.btns {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.btn {
    &.waze {
        padding: 0.5rem 1rem;
        background: #31C7F7;
        border-radius: 20px;
        height: auto;
        width: auto;
        position: relative;
        font-family: sans-serif;
        border: 1px solid;
        // filter: drop-shadow(0 0 0.35rem #31C7F7);
    }

    &.calendar {
        padding: 1.5rem 1rem;
        background: #ECEAEB;
        border-radius: 20px;
        font-size: 1.2rem;
        height: auto;
        width: auto;
        position: relative;
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        border: 1px solid;
        // filter: drop-shadow(0 0 0.35rem #fce1dd);
    }
}